<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form #purchaseTokenForm="ngForm" (ngSubmit)="purchaseToken(purchaseTokenForm.value)">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">shop</i>
                            </div>
                            <h4 class="card-title">Purchase Tokens</h4>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-12">
                            <mat-form-field style="margin-top: 20px;">
                                <mat-select placeholder="Number of Tokens" name="tokenName" (selectionChange)="selectedToken($event.value)">
                                    <mat-option *ngFor="let token of tokenList" [value]="token.value">
                                        {{ token.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field>
                                <input [disabled]="amount" type="text" name="amountForTokenSelected" matInput
                                    placeholder="Amount will be Auto populated" [(ngModel)]="amountForTokenSelected"></mat-form-field>
                        </div><br />
                        <div class="col-lg-12">
                            <mat-form-field>
                                <textarea matInput placeholder="Add optional Message"></textarea></mat-form-field>
                        </div>

                        <div class="card-footer text-right">
                            <div class="form-check mr-auto"></div>
                            <button mat-raised-button type="submit" class="btn btn-rose">Purchase</button>
                        </div>
                    </form>
                </div>
                <!--Accordian here-->
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">shop</i>
                        </div>
                        <h4 class="card-title">Tokens Purchase History</h4>
                    </div>
                    <br /><br />
                    <div class="col-lg-12" style="padding-top:2%;padding-bottom:2%">
                        <mat-accordion *ngFor="let data of purchaseHistoryAcc">
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{data.podsPurchased}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{data.reason}}
                                      </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Amount Paid: {{data.amountPaid}}</p>
                                <p>Transaction Hash: {{data.transactionHash}}</p>
                                <p>Block Hash: {{data.blockHash}}</p>
                                <p>Block Number: {{data.blockNumber}}</p>
                                <p>Created Date & Time: {{data.createdDateTime}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>