
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" name="form" (ngSubmit)="f.form.valid && login(f.value)" #f="ngForm" novalidate>
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Log in</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">Or Be Classical</p>
                <span class="bmd-form-group">
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !emailOfPerson.valid }">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" autocomplete="off" placeholder="Enter email" class="form-control" name="emailOfPerson"
                          [(ngModel)]="model.emailOfPerson" #emailOfPerson="ngModel" required ngModel email>
                  </div>
                  <div *ngIf="f.submitted && !emailOfPerson.valid" class="help-block" style="text-align: right;">Email
                    is required</div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !passwordOfPerson.valid }">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" autocomplete="off" placeholder="Enter password" class="form-control far fa-eye"
                          name="passwordOfPerson" [(ngModel)]="model.passwordOfPerson" #passwordOfPerson="ngModel"
                          required />
                  </div>
                  <div *ngIf="f.submitted && !passwordOfPerson.valid" class="help-block" style="text-align: right;">Password
                    is required</div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">Lets Go</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a [routerLink]="['/pages/about']">
                About Us
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by Jay Bibodi, CSU Sacramento.
        </div>
      </div>
    </footer>
  </div>
</div>