<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div>
                <div style="min-width:75%">
                    <div class="card card-register" style="max-width:100%;">
                        <h3 class="">Register to Podcast Dapp</h3>
                        <div>
                            <form name="form" (ngSubmit)="f.form.valid && register(f.value)" #f="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Name -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nameOfPerson.valid }">
                                            <label for="nameOfPerson">Name</label>
                                            <input type="text" autocomplete="off" placeholder="Enter Name" class="form-control" name="nameOfPerson" [(ngModel)]="model.nameOfPerson" #nameOfPerson="ngModel" required />
                                            <div *ngIf="f.submitted && !nameOfPerson.valid" class="help-block">Name is required</div>
                                        </div>

                                        <!-- EMAIL -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailOfPerson.valid }">
                                            <label for="emailOfPerson">Email</label>
                                            <input type="email" autocomplete="off" placeholder="Enter email" class="form-control" name="emailOfPerson" [(ngModel)]="model.emailOfPerson" #emailOfPerson="ngModel" required />
                                            <div *ngIf="f.submitted && !emailOfPerson.valid" class="help-block">Email is required</div>
                                        </div>

                                        <!-- Password -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passwordOfPerson.valid }">
                                            <label for="passwordOfPerson">Password</label>
                                            <input type="password" autocomplete="off" placeholder="Enter password" class="form-control far fa-eye" name="passwordOfPerson" [(ngModel)]="model.passwordOfPerson" #passwordOfPerson="ngModel" required />
                                            <div *ngIf="f.submitted && !passwordOfPerson.valid" class="help-block">Password is required</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <!-- City -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cityname.valid }">
                                            <label for="cityname">City</label>
                                            <input type="text" autocomplete="off" placeholder="Enter city" class="form-control" name="cityname" [(ngModel)]="model.cityname" #cityname="ngModel" required />
                                            <div *ngIf="f.submitted && !cityname.valid" class="help-block">City is required</div>
                                        </div>

                                        <!-- state -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !statename.valid }">
                                            <label for="statename">State</label>
                                            <input type="text" autocomplete="off" placeholder="Enter state" class="form-control" name="statename" [(ngModel)]="model.statename" #statename="ngModel" required />
                                            <div *ngIf="f.submitted && !statename.valid" class="help-block">State is required</div>
                                        </div>

                                        <!-- zip code -->
                                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zipcodename.valid }">
                                            <label for="zipcodename">Zip Code</label>
                                            <input type="text" autocomplete="off" placeholder="Enter zip code" class="form-control" name="zipcodename" [(ngModel)]="model.zipcodename" #zipcodename="ngModel" required />
                                            <div *ngIf="f.submitted && !zipcodename.valid" class="help-block">Zip code is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button [disabled]="loading" type="submit" style="width: 25%;margin-right: 2%;margin-left: 1.4%" class="btn btn-danger btn-block btn-round">Submit</button>
                                    <button type="submit" style="width: 25%" (click)="loadLoginComponent()" class="btn btn-danger btn-block btn-round">Cancel</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, made with
                    <i class="fa fa-heart heart"></i> by Creative Tim</h6>
            </div>
        </div>
    </div>
</div>