
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" name="form" (ngSubmit)="f.form.valid && forgotPassword(f.value)" #f="ngForm" novalidate>
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Forgot Password</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !emailId.valid }">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" autocomplete="off" placeholder="Enter email" class="form-control" name="emailId"
                          [(ngModel)]="model.emailId" #emailId="ngModel" required ngModel email>
                  </div>
                  <div *ngIf="f.submitted && !emailId.valid" class="help-block" style="text-align: right;">Email
                    is required</div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a [routerLink]="['/about']">
                About Us
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by Jay Bibodi, CSU Sacramento.
        </div>
      </div>
    </footer>
  </div>
</div>
<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "square-jelly-box" ></ngx-spinner>